pandas
numpy
pydantic
transformers
sentence-transformers
torch
langchain-community
langchain-text-splitters
langchain-chroma
python-box
ensure==1.0.2
mypy-boto3-s3
PyYAML
fastapi
uvicorn
kagglehub
python-dotenv
tqdm